<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>
  <h1>Domowa bilbioteka:</h1>
  <ul>
    <li><strong>Autor:</strong> Mario Escobar</li>
    <li><strong>Tytuł:</strong> "Dzieci Żółtej Gwiazdy</li>
    <li><strong>Rok wydania:</strong> 2017</li>
    <li><strong>Opis:</strong> Historia dwóch braci, którzy pragną uciec z okupowanej Francji</li>
    <form method="post" enctype=multipart/form-data>
      <label for="img">Obrazek</label>
      <input type="file" name="file">
      <input type="submit" value="upload">
  </form>
  
  
</body>
</html>